# Base de datos
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=reto_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# URL completa que usa SQLAlchemy
DATABASE_URL=postgresql://admin:admin123@db:5432/reto_db

# API externa
STACK_API_URL=https://api.stackexchange.com/2.2/search?order=desc&sort=activity&intitle=perl&site=stackoverflow